#bg{
    background-color: black !important;
    color: darkorange !important;
}

.special{
    min-width: 30%;
    background-color: darkslategrey !important;
}

#hidden-text{
    display: none;
}

#details{
    color: darkorange !important;
    text-decoration: none;
}