#bg{
    background-color: black !important;
    color: darkorange !important;
}

.special{
    min-width: 30%;
    background-color: darkslategrey !important;
}

#hidden-text{
    display: none;
}

#details{
    color: darkorange !important;
    text-decoration: none;
}

#jumbo {
    background-size: cover;
    min-height: 500px;
}

a, a:visited {
	text-decoration: none;
	position: relative;
	color: #069;
	
	&:after {
		content: '';
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		background: #069;
		transition: 0.2s;
	}

	&:hover:after {
		width: 100%;
	}
	
	&.block {
		display: block;
		padding: 0.5em;
		
		&:hover {
			background: #eee;
		}
	}
}